<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mi primera app ASP.NET</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <base href="/">

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/app/script.js"></script>
    <script src="~/Service/moduleService.js"></script>
    <script src="~/ControllersNg/moduleControllers.js"></script>
    <script src="~/Directive/moduleDirective.js"></script>

    <script type="text/javascript">
        angular.element(document.getElementsByTagName('head')).append(angular.element('<base href="' + window.location.pathname + '" />'));
    </script>

</head>
<body>

    
    <div class="container body-content">
      
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - mi primera app ASP.NET</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("JavaScript", false)
</body>
</html>