@{
    ViewBag.Title = "Home ";
}



<div ng-app="ngRouteExample">
    <div ng-controller="MainController">


        <a href="formulario">Formulario</a> |
        <a href="ejemplo">Ejemplo</a> |
        <a href="formula1">formula1</a> |
        <a href="carritoCompra">carritoCompra</a> |
        <a href="ejemploLogin">ejemploLogin</a> |
        <a href="directivaPers">directiva Personalizada</a> |
        <a href="calculadora">Calculadora</a> |
        <a href="textSize">Tamaño texto</a> |
        <a href="seleccionCoche">Seleccion de coche</a> |
        <a href="reloj">Reloj</a><br />

        <div ng-view></div>

        <hr />

        <pre>$location.path() = {{$location.path()}}</pre>
        <pre>$route.current.templateUrl = {{$route.current.templateUrl}}</pre>
        <pre>$route.current.params = {{$route.current.params}}</pre>
        <pre>$route.current.scope.name = {{$route.current.scope.name}}</pre>
        <pre>$routeParams = {{$routeParams}}</pre>
    </div>
</div>


<style>
    * {
        margin: 0;
        padding: 0;
    }


    /*-------------------------
            General Styles
        --------------------------*/


    body {
        font: 15px/1.3 'Open Sans', sans-serif;
        color: #5e5b64;
        text-align: center;
    }

    a, a:visited {
        outline: none;
        color: #389dc1;
    }

        a:hover {
            text-decoration: none;
        }

    section, footer, header, aside, nav {
        display: block;
    }


    /*-------------------------
            The menu
        --------------------------*/


    nav {
        display: inline-block;
        margin: 60px auto 45px;
        background-color: #55B460;
        box-shadow: 0 1px 1px #ccc;
        border-radius: 2px;
    }

        nav a {
            display: inline-block;
            padding: 18px 30px;
            color: #fff !important;
            font-weight: bold;
            font-size: 16px;
            text-decoration: none !important;
            line-height: 1;
            text-transform: uppercase;
            background-color: transparent;
            -webkit-transition: background-color 0.25s;
            -moz-transition: background-color 0.25s;
            transition: background-color 0.25s;
        }

            nav a:first-child {
                border-radius: 2px 0 0 2px;
            }

            nav a:last-child {
                border-radius: 0 2px 2px 0;
            }

        nav.home .home,
        nav.team.team,
        nav.about .about,
        nav.contact .contact {
            background-color: #5867E3;
        }

    p {
        font-s color:#7d9098;
    }

        p b {
            color: #ffffff;
            display: inline-block;
            padding: 5px 10px;
            background-color: #DC64C6;
            border-radius: 2px;
            ize: 22px;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 18px;
        }

    #content label {
        width: 150px;
    }

    #content input[type=submit] {
        margin-left: 154px;
        width: 120px;
        padding: 5px 15px;
        background: #ff6a00;
        border: 0 none;
        cursor: pointer;
        color: #fff;
    }

    .error {
        color: red;
    }

    .color-default {
        color: #000;
    }

    .color-red {
        color: red;
    }

    .color-green {
        color: green;
    }

    #content input.ng-dirty.ng-invalid {
        border: 1px solid red;
        background-color: rgb(255, 244, 244);
    }
</style>
